h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
}
thead {
    background-color: #4471f8;
    color: #ffffff;
    font-weight: bold;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
}
table tbody tr:hover {
    background-color: #dddddd;
}
.wide {
    width: 90%;
}